<h1>IronReddit</h1>

<div class="links">
  <% @links.each do |link| %>
    <div class="link" id="link-<%=link.id%>">
        <%= link_to "â", upvote_link_path(id: link.id), method: :post, class: 'upvote' %> <%= pluralize link.vote_count, 'link' %><%= link.title %>
    </div>
  <% end %>
</div>
